// media aliases and breakpoints
$screen-sm-min: 600px;
$screen-md-min: 744px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1366px;
$screen-xxxl-min: 1920px;

@mixin sm {
	@media screen and (min-width: #{$screen-sm-min}) {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: #{$screen-md-min}) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: #{$screen-lg-min}) {
		@content;
	}
}

@mixin xl {
	@media screen and (min-width: #{$screen-xl-min}) {
		@content;
	}
}

@mixin xxl {
	@media screen and (min-width: #{$screen-xxl-min}) {
		@content;
	}
}


@mixin xxxl {
	@media screen and (min-width: #{$screen-xxxl-min}) {
		@content;
	}
}